@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400';

/*
* Note to future devs: this CSS file is a lil bit messy ¯\_(ツ)_/¯
* http://scopeusc.com
*/


html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #FFFFFF;
}

.jumbotron {
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0px;
    position: relative;
}

#intro {
    background-color: #FFFFFF;
}

#logo-image {
    height: 200px;
    width: 600px;
    background-image: url(assets/logo-purp.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
}

#logo-image:hover {
    background-image: url(assets/logo-red.png);
}

@media screen and (max-width: 550px)
{
    #logo-image {
        height: 100px;
        width: 100%;
    }

    .overlay {
      text-align: center;
    }

    .logo.vert-horiz-center {
      margin-top: 50%;
    }

    .learn-more {
      display: inline-block;
    }
}


nav {
    text-align: center;
    height: 100px;
    background-color: rgba(0,0,0,0);
    font-weight: 100;
}

.navbar a {
    color: rgb(103,52,209);
    margin: 15px 10px;
    padding: 7px 10px;
    height: 40px;
    width: 150px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(103,52,209,.6);
    font-size: 15px;
    background-color: rgba(255,255,255,.5);
    font-weight: 100;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.navbar a:hover {
    background-color: rgba(103,52,209,.6);
    color: #fff;
    font-weight: 300;
}

.overlay {
    height: 100%;
    background-color: rgba(255,255,255,.8);
    position: relative;
}

.section-header {
    font-weight: 100;
    text-align: center;
    color: rgb(103,52,209);
}

.section-header h1 {
    color: rgb(103,52,209);
    font-size: 10em;
    font-weight: 300;
}

.section-header p {
    font-size: 2.5em;
}

.about-header {
    margin: 0 auto;
    padding-top: 200px;
    font-weight: 300;
    text-align: center;
    color: rgb(103,52,209);
    max-width: 700px;
}

.about-header p {
    font-size: 1.75em;
}

.vert-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.horiz-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 551px) {
  .vert-horiz-center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

.logo {
    font-weight: 100;
    text-align: center;
    color: rgb(103,52,209);
}

.logo h1 {
    color: rgb(103,52,209);
    font-size: 10em;
    font-weight: 300;
}

#animatetext {
    font-size: 2.5em;
    color: rgb(103,52,209);
    display: inline;
}

.logo:hover .scred {
    color: #990000;
}

.logo:hover .scgold {
    color: #FFCC00;
}

@media screen and (min-width: 551px) {
  .learn-more {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -25%);
      text-align: center;
  }
}

#apply-button {
    color: #fff;
    background-color: rgba(103,52,209, .8);
    margin-top: 30px;
}

.page-apply {
    text-align: center;
}

.page-apply a {
    color: rgb(103,52,209);
    margin: 15px auto;
    padding: 7px 10px;
    height: 40px;
    width: 150px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(103,52,209,.6);
    font-size: 15px;
    background-color: rgba(255,255,255,.5);
    font-weight: 100;
    transition: all 0.3s ease;
}

.page-apply a:hover {
    background-color: rgba(103,52,209, .4);
    border-color: rgba(103,52,209, .4);
    color: #fff;
}

#apply-button:hover {
    background-color: rgba(103,52,209, .4);
    border-color: rgba(103,52,209, .4);
    color: #fff;
}

#gotoeboard {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: center;
}

#eboard-header {
    font-size: 2em;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -75%);
    text-align: center;
}

.learn-more a {
    color: rgb(103,52,209);
    margin: 15px 10px;
    padding: 7px 10px;
    height: 40px;
    width: 150px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(103,52,209, .6);
    font-size: 15px;
    font-weight: 300;
    background-color: rgba(255,255,255, .6);
    transition: all 0.3s ease;
    text-align: center;
}

.learn-more a:hover {
    background-color: rgba(103,52,209, .4);
    border-color: rgba(103,52,209, .4);
    color: #fff;
}

@media (max-width: 34em) {
    .logo h1 {
        font-size: 5em;
    }

    .logo p {
        font-size: 1em;
    }

    .navbar a {
        font-size: 15px;
        margin: 2px;
        width: 100%;
        height: 40px;
    }

    .topic h1 {
        font-size: 50px;
    }

    .jumbotron h1 {
        font-size: 50px;
    }

    .jumbotron p {
        font-size: 20px;
    }
}

h2 {
    font-weight: 100;
}

.team {
    padding-top: 100px;
    min-height: 700px;
}

.learn {
    background-image: url("http://gradadm.usc.edu/wp-content/uploads/2016/01/life-at-USC-Gentaro-3.jpg");
}

.topic {
    background-image: url("http://mynewsla.com/wp-content/uploads/2014/09/MNLA_FilePhotos_OfficialsLAXUSC_0095.jpg");
}

.topic .overlay {
    padding: 100px;
}

.code {
    background-image: url("http://www.cse.ucsd.edu/sites/cse/files/cse/assets/news/ezTouchTeam.jpg");
}

.person-image {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    display: inline-block;
    background-position: center;
    background-size: cover;
}

.person .job {
    font-weight: 400;
    text-align: center;
    color: rgb(103,52,209);
}

.person {
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 200px;
}

.person h1 {
    font-size: 20px;
    text-align: center;
}

.person p {
    font-size: 18px;
    color: #72777f;
    text-align: justify;
}

@media screen and (max-width: 550px)
{
    .person p {
        font-size: 18px;
        color: #3F444C;
    }

    .person {
        width: 350px;
    }
}



.people {
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

#sponsor-button {
    margin-top: 100px;
}

.person .overlay {
    opacity: 0;
    transition: all 0.3s ease;
    background-color: rgba(255,255,255,0);
    padding: 20px;
}

.person:hover .overlay {
    background-color: rgba(255,255,255,.9);
    opacity: 1;
}

.zach {
    background-image: url("assets/zach.jpg");
}

.kelly {
    background-image: url("https://scontent-lax3-1.xx.fbcdn.net/t31.0-8/13173305_857022811074171_4931483761292402551_o.jpg");
}

.alex {
    background-image: url("assets/alex.jpg");
}

.dave {
    background-image: url("https://scontent.fbos1-1.fna.fbcdn.net/v/t1.0-9/13254318_1189144194438759_6207236477225886895_n.jpg?oh=0b6f6de2226d2494f89247001a78db57&oe=584D7BB9");
}

.dan {
    background-image: url("https://scontent-lax3-1.xx.fbcdn.net/t31.0-8/12719393_10208579501823821_452420458810324247_o.jpg");
}

#eboard-title {
    font-size: 4em;
}

.eboard-header {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.about {
    font-size: 20px;
    font-weight: 300;
    color: #90949c;
    margin-bottom: 30px;
}

.description {
    max-width: 600px;
    padding: 10px;
    text-align: justify;
}

.learn .col-md-6 {
    height: 100%;
}

.about .col-md-6 {
    padding: 7px;
}

.about h2 {
    font-weight: 100;
    color: rgb(103,52,209);
}

.section-title {
    padding-top: 10px;
    color: rgb(103,52,209);
    font-size: 1em;
    font-weight: 300;
    text-align: center;
}

#motto {
    padding-top: 20px;
    margin-bottom: 5px;
    color: rgb(103,52,209);
}

#motto h2 {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    padding: 10px;
}

#apply-team {
    bottom: 20px;
}
/* Animated Text */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 2.5em;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Sponsorship Specific Things */

.plan h1 {
    font-weight: 300;
}

.plan .price {
    color: white;
}

#purple {
    background-color: rgb(103,52,209);
    border: 10px rgb(103,52,209) solid;
}

.tier-description {
    background-color: #fff;
    border-radius: 5px;
    font-weight: 300;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.tier-description h1 {
    font-weight: 100;
}

.sponsor-about {
    text-align: center;
}

.sponsor-description h2 {
    text-align: center;
    color: black;
    font-weight: 300;
}

.sponsor-description {
    max-width: 600px;
    padding: 10px;
    display: block;
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
    margin: 0 auto;
}

.sponsor-description {
    color: black;
}

#gold {
    background-color: #D4B483;
    border: 10px #D4B483 solid;
}

#silver {
    background-color: #E4DFDA;
    border: 10px #E4DFDA solid;
}

#bronze {
    background-color: #F4B393;
    border: 10px #F4B393 solid;
}

.price {
    padding: 20px;
}

div .logo-pic {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

/* Curriuclum section */

.curr-header {
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
    color: #90949c;
}

.curr-header h2 {
    color: rgb(103,52,209);
    font-weight: 300;
    text-align: center;
}

.icon {
    text-align: center;
    color: rgb(103,52,209);
}

/* Sponsorship Section */
.sponsorship {
    margin-bottom: 100px;
}

.sponsorship #motto {
    text-align: center;
    font-weight: 300;
}

.sponsorship .silver-tier {
    text-align: center;
}
.facebook {
    width: 350px;
    height: 150px;
    background-image: url("assets/facebook.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 0;
}

.codepath {
    width: 350px;
    height: 150px;
    background-image: url("assets/codepath.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 0;
}

.sponsorship h3 {
    font-weight: 300;
    font-size: 20px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 20px;
    color: #90949c;
}
