.img-logo-wrapper {
    position: relative;
    width: 60%;
    margin: auto;
}

img.img-logo {
    width: 100%;
}

img.img-logo-red {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.img-logo-wrapper:hover img.img-logo-red {
    visibility: visible;
    opacity: 1;
}

img.img-company {
    height: 100px;
    max-width: 100%;
    margin: 20px 0;
}
img.img-social {
    height: 20px;
    max-width: 100%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;

}
#social_images {
    text-align: center;
}
.contact-form label {
    color: black;
}

#animatetext {
    font-size: 2.5em;
    color: rgb(103,52,209);
    display: inline;
}

span.typed-cursor {
    font-size: 2.5em;
    color: rgb(103,52,209);
}

.page-header.page-header-white {
    background-color: white;
}

.page-header.page-header-white .content-center .motto .description {
    color: rgb(103,52,209);
}

.navbar-scope.navbar-transparent .navbar-brand, [class*="bg"] .navbar-brand {
    color: #66615B;
}

.navbar-scope.navbar-transparent .navbar-nav .nav-item .nav-link:not(.btn), [class*="bg"] .navbar-nav .nav-item .nav-link:not(.btn) {
    color: #66615B;
}

.navbar-scope.navbar-transparent .navbar[class*="bg-"] .navbar-toggler .navbar-toggler-bar, .navbar.navbar-transparent .navbar-toggler .navbar-toggler-bar {
    background: #66615B;
}

.btn.btn-scope {
    border-color: rgb(103,52,209);
    background-color: rgb(103,52,209);
}

.btn.btn-scope:hover, .btn.btn-scope:active, .btn.btn-scope:focus {
    border-color: rgb(75, 38, 151);
    background-color: rgb(75, 38, 151);
}

.icon-scope {
    color: rgb(103,52,209);
}